.danhmuc {width: 22%;vertical-align: top;}
.danhmuc2 {color: blue;}
.baivtnoibat{align-self: auto}
.vps{width: 50%;}
.tesol{width: 50%;}
.gg{width: 50%;}
.cbvk{color: blue;}
.thanhdemuc{color:blue; background-color: rgb(222, 226, 229);}
.banquyen{background-color: rgb(218, 221, 224);}
.nd{width: 100%;}